html{
    scroll-behavior: smooth;
}
/* body{
    font-family: 'Times New Roman', Times, serif;
} */
.txt-sz{
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px black;
}
.nav-btn{
    background: rgb(25,37,65);
    background: linear-gradient(221deg, rgba(25,37,65,0.05) 0%, rgba(158,152,157,1) 100%, rgba(207,210,214,0) 100%, rgba(153,164,186,0.9139005944174545) 100%, rgba(148,149,151,0) 100%);
    opacity: 0.9;
    box-shadow: 2px 2px 6px 0px black;
}
.nav-btn:hover{
    background: rgb(25,37,65);
    background: linear-gradient(221deg, rgba(156, 184, 250, 0.05) 0%, rgba(158,152,157,1) 100%, rgba(207,210,214,0) 100%, rgba(153,164,186,0.9139005944174545) 100%, rgba(148,149,151,0) 100%);
    opacity: 0.9;
    box-shadow: 2px 2px 6px 0px black;
}
.trans{
    opacity: 0.5;
}