html{
    scroll-behavior: smooth;
}
/* body{
    background-image: url('/images/background.jpg'); 
    background-repeat: no-repeat; 
    background-attachment:fixed; 
    background-size:cover; 
    background-position:center center;
} */
/* body{
    font-family:  SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
} */

.pd-r{
    padding-right: 10rem;
}

.full-scrn{
    height: 100vh;
    width: 100vw;
    text-align: center;
}
.fix{
    position: fixed; 
    z-index: 1;
}
.home-bg-img{
    position: relative;
    background: linear-gradient(090deg, hsl(201.2, 13.2%, 25.3%) 0%, hsl(201.2, 13%, 56%) 100%);
}
.home-bg-img::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
    background: url("/images/home-bg.JPG") no-repeat center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
.text-sz{
    font-size: 4rem;
    font-weight: 600;
    /* color: hsl(36, 12%, 8%); */
    color: #ffffff;
    /* text-shadow: 5px 5px 7px #191818; */
}
.mgn-tp{
    margin-top: 14rem;
}

.qualification-shdw{
    box-shadow: -2px -1px 20px 7px #383535;
}
.qualification-bg{
    background-color: #f5f5f5;
}

.gallery-img{
    background-image: url("/images/gallery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    /* box-shadow: -2px -1px 20px 0px black; */
}
.gallery-txt{
    color: rgb(169, 132, 130);
}

.txt-sz{
    font-size: 1.1rem;
    font-weight: 400;
    /* text-shadow: 1px 1px 1px black; */
}
.nav-btn{
    background: rgb(25,37,65);
    background: linear-gradient(221deg, rgba(25,37,65,0.05) 0%, rgba(158,152,157,1) 100%, rgba(207,210,214,0) 100%, rgba(153,164,186,0.9139005944174545) 100%, rgba(148,149,151,0) 100%);
    opacity: 0.9;
    box-shadow: 2px 2px 6px 0px black;
}
.nav-btn:hover{
    background: rgb(25,37,65);
    background: linear-gradient(221deg, rgba(156, 184, 250, 0.05) 0%, rgba(158,152,157,1) 100%, rgba(207,210,214,0) 100%, rgba(153,164,186,0.9139005944174545) 100%, rgba(148,149,151,0) 100%);
    opacity: 0.9;
    box-shadow: 2px 2px 6px 0px black;
}
.trans{
    opacity: 0.5;
}
.trans-9{
    opacity: 0.9;
}
.shdw{
    box-shadow: 8px 7px 9px 0px grey;
}
.bg-clr{
    background-color: rgba(177, 145, 146, 1);
    box-shadow: inset 0px 3px 6px 0px rgba(88, 44, 54, 1);
}